@import "./scss_mixin/tools/mixin",
"./scss_mixin/tools/variables",
"./scss_mixin/tools/common",
"./scss_mixin/tools/animations";
html,
body {
    @include size(100%, 100%);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

button {
    @include button_def();
}

nav {
    @include nav();
}

.overlay {
    @extend %overlay;
}

form {
    // @include center_item(1em, null);
    width: 100%;
    @extend %standard_form;
}

#dialogue {
    @extend %dialogue;
}