* {
    box-sizing: border-box;
}

body {
    // background: rgb(217, 214, 248);
    background: rgb(229, 255, 226) !important;
    margin: 10000;
    padding: 100000;
}

a {
    text-decoration: none;
    color: inherit;
}